body { 
    background-color: rgb(248, 195, 207);
    text-align: center;
    width:100%;
   
}

h1 {
    font-size: 70pt;
    color: chartreuse;
    font-family: 'Srisakdi', cursive;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: blue;
        
}
.main-header {
    margin-bottom: -85px;
}
.butterfly { 
    width: 25%;
}

p {
    font-size: 60pt;
    color: chartreuse;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    font-size: 60pt;
    color: chartreuse;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    width: 100%;
} 
.a:hover {
    color: blue;
}
#moving-butterfly {
    transform: rotate(290deg);
}
.about-text {
    font-size: 20pt;
    color:blue;
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
    padding: 40px;
    border-width: 5px;
    border-style: solid;
    border-color: chartreuse;

}
.a {
   padding: 20px;
   -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: blue;
}
.star {
    color:blue;
    font-size: 40px;
    margin-bottom: -5px;
    margin-top: -5px;
}
.home-button {
    font-size: 30px;
    text-align: left;
    width: 100%;
    margin-right: 20px;
}
.home-button:hover {
    background-color:blue;
  }
.github {
position: relative;
}
.sprints:hover {
    color: blue;
}

